.list{
	margin: 20px 0;
	width: 100%;
	overflow-x: hidden;
}
.list ul.listdata{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	overflow:hidden;
}
.list ul.listdata li{
	width: 32.6%;
	background: #FFF;
	margin-bottom: 10px;
}
.ant-pagination {
	text-align: center;
}
.ant-pagination-jump-next, .ant-pagination-jump-prev, .ant-pagination-next, .ant-pagination-prev{
	color: #FFF;
}
.ant-pagination-jump-next:after, .ant-pagination-jump-prev:after{
	color: #FFF;
}
svg {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.rv-xy-plot {
	background: #FFF;
	margin: auto;
}
.mainchart2content{
	display: flex;
	justify-content: space-between;
}
.mainchart2content .btnlist{
	display: flex;
	flex-direction:  column;
}
.mainchart2content .btnlist button{
	margin-bottom: 10px;
}
.mainchart2content .chart2{
	background: #FFF;
	align-self: stretch;
	width: 50%;
}













